<h1>任務內容</h1>

<ul>
  <li>任務ID：<%= @task.id %></li>
  <li>任務名稱：<%= @task.title %></li>
  <li>任務內容：<%= @task.content %></li>
  <li>優先順序：<%= @task.priority %></li>
  <li>任務狀態：<%= @task.status %></li>
  <li>任務開始：<%= @task.task_begin %></li>
  <li>任務結束：<%= @task.task_end %></li>
</ul>