<h1><%= t('attributes.tasks.backend') %>： <%=t('users.index_user') %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <td><%= t('attributes.users.username') %></td>
      <td><%= t('attributes.users.email') %></td>
      <td><%= t('attributes.tasks.task_count') %></td>
      <td><%= t('attributes.users.action') %></td>
    </tr>
  </thead>
  
  <tbody>
    <% @users.each do |user| %>
      <tr>
      <td><%= link_to user.username, task_admin_user_path(user) %></td>
      <td><%= user.email %></td>
      <td><%= user.tasks.count %></td> <%# 顯示使用者的任務數量 %>
      <td>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to t("users.edit"), edit_admin_user_path(user) , class: 'dropdown-item' %>
          <div class="dropdown-divider"></div>          
          <%= link_to t("users.show"), admin_user_path(user) , class: 'dropdown-item' %>
          <div class="dropdown-divider"></div>
          <%= link_to t("users.delete"), admin_user_path(user) , class: 'dropdown-item', method: 'delete', data: { confirm: "確認刪除嗎？"}%>
        </div>
      </td>
    </tr>
    <% end %>

  </tbody>
</table>

<%= button_to t("users.create"), admin_sign_up_path ,class:"btn btn-outline-dark", method: "get"%>
