  <div class="card" style="width: 50rem;">
    <h1><div class="card-header"> <%= t("attributes.users.account_info") %></div></h1>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"> <%= t("attributes.users.email") %>: <%= @user.email %> </li>
      <li class="list-group-item"> <%= t("attributes.users.username") %>: <%= @user.username %> </li>
    </ul>
  </div>
